body{
    margin: 0px;
    background-color: #FAD961;
    background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
    font-family: 'Mulish', sans-serif;
}
.header__img{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.register__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 45px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 600px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.register__container--form{
    display: flex;
    flex-direction: column;
}
.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 25px;
    padding: 0px 20px;
    outline: none;
    height: 45px;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 0.8px;
    margin: 10px 0px;
}
.button:hover{
    background-color: #F76B1C;
}
.iniciar__sesion{
    font-size: 16px;
    margin: auto;
}
.iniciar__sesion a{
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
.iniciar__sesion a:hover{
    text-decoration: underline;
    color: #F76B1C;;
}
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-left: 30px;
    text-decoration: none;
    align-items: center;
}
.footer a:hover{
    text-decoration: underline;
    color: rgb(235, 57, 37);
}
